@media screen and (min-width: 1025px) {
    html {
        background-image:url('../image/main_bg_large.jpg'); 
    }
}

@media screen and (max-width: 1024px) {
    html {
        background-image:url('../image/main_bg_medium.jpg'); 
    }
}
@media screen and (max-width: 768px) {
    html {
        background-image:url('../image/main_bg_small.jpg'); 
    }
    .servicesContainer {
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }
    .iconBlock {
        margin: 0;
    }
}
@media screen and (max-width: 481px) {
    #navbar {
        display: none;
    }
    
    body {
        font-size: 15px;
    }
    
    .mainTitle {
        font-size: 2rem;
    }
    
    .mainSubtitle {
        font-size: 1.8rem;
    }
    
    .header {
        margin: 2rem;
    }
    
    .sectionTitle {
        font-size: 1.6rem;
    } 
}