html {
    background-clip: border-box;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;    
    background-image: url('../image/code-944499.jpg');
}
body {
    background-color: rgba(0, 0, 0, 0.795);
    height: 1200px;
    width:100%;
    margin: 0;
    padding: 0;
    color: white;
}

nav ul {
    width: 70%;
    font-size: 1.8rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar {
    position: sticky;
    top: .1rem;
}

.navbar li {
    padding: 1rem;
    background-color: #8f8f8f;
}

.navbar li:hover {
    transition-duration: .7s;
    background-color: rgba(0, 0, 0, 0.795);
    color: #8f5bfd;
    background: linear-gradient(to top,#8f5bfd 0%, #8f5bfd 5%, transparent 5.01%) no-repeat left bottom/100% 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.mainTitle {
    text-align: center;
    font-size: 4rem;
}

.mainSubtitle {
    text-align: center;
    font-size: 3rem;
}